* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
}





nav {
    display: grid;
    height: 100vh;
    background-color: white;
    grid-template-rows: 90px 1fr;
    position: fixed;
    width: 90px;
    z-index: 100;
}


.imagens, main {
    margin-left: 90px;
}
.divMenu {
    background-color: #0f0f0f;
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.divMenu input {
    position: absolute;
    left: 45px;
    top: 20px;
    transform: translate(-50%, 50%);
    width: 50%;
    height: 3%;
    opacity: 0;
}


.menu {
    display: grid;
    grid-template-rows: 90px 1fr;
    position: absolute;
    height: 100vh;
    width: 270px;
    background-color: white;
    top: 0;
    left: -270px;
    z-index: 99;
    transition: 0.3s;


}

.divMenu input:checked~.menu{
    left: 0;
}




.saidaMenu {
    display: flex;
}

.esquerdaSaida {
    background-color: #0f0f0f;
    width: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerdaSaida input {
    position: absolute;
    width: 40%;
    height: 40%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.direitaSaida {
    background-color: #2916e2;
    height: 100%;
    flex-grow: 1;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}


.itensMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.botoesMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
    padding-top: 69%;

}

.botoesMenu  a {
    color: rgba(0, 0, 0, 0.329);
    font-size: 30px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    margin-top: 20%;
}

.botoesMenu a:hover {
    color: #2916e2;
    transition: 0.3s;
}

.inferiorMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80%;
}

.redesSociaisMenu  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    width: 80%;
    margin-bottom: 10%;
}

.redesSociaisMenu i {
    color: rgba(0, 0, 0, 0.329);
    font-size: 18px;
}


.textoInferiorMenu {
    text-align: center;
    width: 100%;
}

.textoInferiorMenu h2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.603);
    line-height: 1.8;
    font-weight: 500;
}





.redesSociais {
    display: flex;
    justify-content: center;
    align-items: center;

}

.redesSociais div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 258px;
    flex-direction: column;
}
.redesSociais div i {
    color: #000000;
    font-size: 18px;
}



main {
    height: 100vh;
}




.galeria {
    width: 100%;
    max-width: 100vw;
    display: grid;
    overflow-x: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 110px);
    gap: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    background-color: white;
}

.imagemGaleria {
    position: relative;
    transition: 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 29px;
}

.imagemGaleria h4 {
    font-size: 12px;
    width: 100px;
    height: 26px;
    font-weight: 600;
    border-radius: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2916e2;
    letter-spacing: 2px;
}

.imagemGaleria h3 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}

.imagemGaleria h1 {
    line-height: 1.5;
    font-size: 20px;
    font-weight: 600;
}

/*
.imagemGaleria::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    pointer-events: none;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    transition: 0.3s;
}
*/

.imagemGaleria:hover .usuarioGaleria {
    opacity: 1;
}

#img1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    background-image: url(assets/blog/1.jpg);
}

#img2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    background-image: url(assets/blog/2.jpg);
}

#img3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
    background-image: url(assets/blog/3.jpg);
}

#img4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 3;
    background-image: url(assets/blog/4.jpg);
}

#img5 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 4;
    background-image: url(assets/blog/5.jpg);
}

#img6 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 2;
    background-image: url(assets/blog/6.jpg);
}

#img7 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 3;
    background-image: url(assets/blog/7.jpg);
}

#img8 {
    grid-column: 3 / span 1;
    grid-row: 5 / span 3;
    background-image: url(assets/blog/8.jpg);
}

#img9 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 2;
    background-image: url(assets/blog/9.jpg);
}

#img10 {
    grid-column: 5 / span 1;
    grid-row: 5 / span 2;
    background-image: url(assets/blog/10.jpg);
}

#img11 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 3;
    background-image: url(assets/blog/11.jpg);
}

#img12 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 4;
    background-image: url(assets/blog/12.jpg);
}

#img13 {
    grid-column: 3 / span 1;
    grid-row: 8 / span 2;
    background-image: url(assets/blog/13.jpg);
}

#img14 {
    grid-column: 4/ span 1;
    grid-row: 6 / span 4;
    background-image: url(assets/blog/14.jpg);
}

#img15 {
    grid-column: 5/ span 1;
    grid-row: 7 / span 3;
    background-image: url(assets/blog/15.jpg);
}


.usuarioGaleria {
    position: absolute;
    z-index: 99;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 25px;
    transition: 0.3s;
    opacity: 0;


}

.usuarioGaleria img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.usuarioGaleria h2 {
    font-size: 18px;
    font-weight: 600;
}
