* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: 90px 1fr;
    height: 100vh;
}





nav {
    display: grid;
    height: 100vh;
    background-color: white;
    grid-template-rows: 90px 1fr;
}

.divMenu {
    background-color: #0f0f0f;
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.divMenu input {
    position: absolute;
    left: 45px;
    top: 20px;
    transform: translate(-50%, 50%);
    width: 3%;
    height: 3%;
    opacity: 0;
}


.menu {
    display: grid;
    grid-template-rows: 90px 1fr;
    position: absolute;
    height: 100vh;
    width: 270px;
    background-color: white;
    top: 0;
    left: -270px;
    z-index: 99;
    transition: 0.3s;


}

.divMenu input:checked~.menu{
    left: 0;
}




.saidaMenu {
    display: flex;
}

.esquerdaSaida {
    background-color: #0f0f0f;
    width: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerdaSaida input {
    position: absolute;
    width: 40%;
    height: 40%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.direitaSaida {
    background-color: #2916e2;
    height: 100%;
    flex-grow: 1;
    display: block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}


.itensMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.botoesMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
    padding-top: 69%;

}

.botoesMenu  a {
    color: rgba(0, 0, 0, 0.329);
    font-size: 30px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    margin-top: 20%;
}

.botoesMenu a:hover {
    color: #2916e2;
    transition: 0.3s;
}

.inferiorMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80%;
}

.redesSociaisMenu  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    width: 80%;
    margin-bottom: 10%;
}

.redesSociaisMenu i {
    color: rgba(0, 0, 0, 0.329);
    font-size: 18px;
}


.textoInferiorMenu {
    text-align: center;
    width: 100%;
}

.textoInferiorMenu h2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.603);
    line-height: 1.8;
    font-weight: 500;
}





.redesSociais {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.redesSociais div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 258px;
    flex-direction: column;
}
.redesSociais div i {
    color: #000000;
    font-size: 18px;
}







.imagens {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}



.imagemGaleria {
    height: 112vh;
    object-position: 22%;
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
}

.img1 {background-image: url(assets/galeriaInicial/1.jpg.webp);
background-repeat: no-repeat;
}
.img2 {background-image: url(assets/galeriaInicial/2.jpg.webp);
background-repeat: no-repeat;}
.img3 {background-image: url(assets/galeriaInicial/3.jpg.webp);
background-repeat: no-repeat;}
.img4 {background-image: url(assets/galeriaInicial/4.jpg.webp);
background-repeat: no-repeat;}
.img5 {background-image: url(assets/galeriaInicial/5.jpg.webp);
background-repeat: no-repeat;
order: -1;
flex-grow: 6;}



.imagemGaleria:hover ~ .img5 {
    flex-grow: 1;
}

.imagemGaleria:hover {
    flex-grow: 6;
}

.imagemGaleria:hover .textoImagem {
    animation: animTexto 0.5s;
    animation-fill-mode: forwards;
}

.imagemGaleria:hover .textoImagem ~ #textoImagem1{
    opacity: 0;
}


@keyframes animTexto {

    50% {
        opacity: 0;
        transform: translateY(20px);

    }
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}


.textoImagem {
    position: absolute;
    width: 80%;
    height: 20vh;
    bottom: 15%;
    left: 3.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    animation-fill-mode: forwards;
}

#textoImagem1 {
    opacity: 1;
}

.textoImagem h4 {
    font-size: 12px;
    width: 90px;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    color: #2916e2;
}

.textoImagem h1 {
    line-height: 1.5;
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.textoImagem div img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    display: inline;
    vertical-align: middle;
}

.textoImagem div h2 {
    display: inline;
}


